{%- comment -%}
Multi-currency widget placeholder
{%- endcomment -%}
<div class="multi-currency-widget">
  <select name="currency">
    {% for currency in shop.enabled_currencies %}
      <option value="{{ currency }}">{{ currency }}</option>
    {% endfor %}
  </select>
</div>