{% comment %} Responsive gallery for product images {% endcomment %}
<div class="product-gallery">
  {% for media in product.media %}
    <div class="product-gallery__item">
      {{ media | media_tag: image_size: "800x", class: "product-media", loading: "lazy" }}
    </div>
  {% endfor %}
</div>