{%- comment -%}
Video with shoppable product hotspots
{%- endcomment -%}
<div class="shoppable-video" data-video-id="{{ section.settings.video_id }}">
  <!-- Embed video and overlay product hotspots here -->
</div>