{% comment %} Mythic Product Main: Gallery, Info, Tabs, Recommendations, Metafields {% endcomment %}
<section class="product-main">
  <div class="product-main__gallery">{% render 'product-gallery', product: product %}</div>
  <div class="product-main__info">{% render 'product-info', product: product %}</div>
  <div class="product-main__tabs">{% render 'product-tabs', product: product %}</div>
  <div class="product-main__recommendations">{% render 'product-recommendations', product: product %}</div>
</section>